html, body {
    width: 100%;
    height: 100%;
}

.image-error {
    height: 50%;
    width: auto;
    margin: 20px;
}

.message-error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.container-error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
