p {
    font-size: 1.3em;
    margin: 0px !important;
    padding: 0px !important;
}

.destination {
    margin: 0px;
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.destination-2 {
    background: rgba(218, 42, 39, 0.26);
    margin: 0px;
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.place-name {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    color: white;
    background-color: #DA2927;
}

.place-price {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    color: white;
    background-color: #4C4C4C;
}

.place-horarios {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
}

.destination-hour {
    color: #4C4C4C;
    padding: 3px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
