body {
    /*margin: 20px;*/
    /*transform: scaleX(0.3);*/
    /*transform: scaleY(2.5);*/
}

.background {
    content: "";
    /*background: url('../img/background.svg');*/
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

p {
    font-size: 1.3em;
    margin: 0px !important;
    padding: 0px !important;
}

.destination {
    /*line-height: 2.9;*/
    margin: 0px;
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.destination-2 {
    /*line-height: 2.9;*/
    background: rgba(218, 42, 39, 0.26);
    margin: 0px;
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.place-name {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    color: white;
    background-color: #DA2927;
    font-style: italic;
}

.place-price {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    color: white;
    background-color: #4C4C4C;
    font-style: italic;
}

.place-horarios {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    font-style: italic;
}

.destination-hour {
    color: #4C4C4C;
    padding: 3px;
    font-style: normal;
    font-size: 1em;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.p-horarios {
    font-size: 1em;
    font-style: normal;
}