body {
    /*margin: 20px;*/
    /*transform: scaleX(0.3);*/
    /*transform: scaleY(2.5);*/
}

.background {
    content: "";
    background: url('../img/background.svg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

p {
    font-size: 1.3em;
    /*transform: scaleY(1.5);*/
}

.destination {
    line-height: 2.9;
    margin: 0px;
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.destination-2 {
    line-height: 2.9;
    background: rgba(218, 42, 39, 0.26);
    margin: 0px;
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.place-name {
    max-width: 300px !important;
    min-width: 300px !important;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
    background: #DA2927;
    font-style: italic;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: -20px;
}

.place-price {
    color: white;
    background: #4C4C4C;
    max-width: 130px !important;
    min-width: 130px !important;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: -20px;

}

.destination-hour {
    color: #4C4C4C;
    padding: 15px;
    font-style: italic;
}

.title {
    margin: 0px;
}

.fixed-position {
    border-top-color: #DA2927;
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom-color: #4C4C4C;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}